@import "tailwindcss";

@font-face {
  font-family: 'tt';
  src: url('/fonts/Fontspring-DEMO-tt_commons_pro_regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'barlow';
  src: url('/fonts/Barlow-Regular.ttf') format('.ttf')
}

@font-face {
  font-family: 'telegraf';
  src: url('/fonts/Telegraf-Book.otf')format('opentype');
}

@font-face {
  font-family: 'garet';
  src: url('/fonts/garet/Garet-Book.ttf') format('.ttf');
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: none;
}

body {

  background-color: #021935;

}

h1 {
  font-family: 'telegraf';
}

h2 {
  font-family: 'barlow';
}

h3,
textarea,
input,
#planos li,
#fotosTexto,
p {
  font-family: 'garet';
}


h3,
navbar li {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.75rem;
  color: white
}

h1,
h2,
h3 a {
  color: white
}

input,
#bg {
  color: #FFFFFF
}

#url {
  color: #252525;
}

#colorPicker {
  border: none
}

button {
  font-family: 'tt';
  cursor: pointer;
}

#heartIcon {
  display: inline-block;
  background-color: #f5f5f5;
  /* branco mais escuro */
  border-radius: 999%;

  /* bem pequeno para não "engordar" */
  width: 30px;
  height: 30px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

  /* garante que o ícone não distorça */
}

#icon {

  border: white 2px solid;
  border-radius: 50%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  /* inverte cores, útil se o fundo for escuro */
}



#bg {
  pointer-events: none;
  user-select: none;
}



#icon2 {
  filter: invert(1);
}


#planos li {
  font-family: 'garet';
}

ul li {
  list-style: none;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.75rem;
  color: white;
  font-family: 'garet';
}