@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {

  background-color: #f1f2ce;
  font-family: Arial, Helvetica, sans-serif;
}


h3,
navbar li {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.75rem;
  color: #7C5E99
}

h1,
h2,
h3 a {
  color: #352640
}

input {
  color: #352640
}


button {
  cursor: pointer;
}

#heartIcon {
  display: inline-block;
  background-color: #f5f5f5;
  /* branco mais escuro */
  border-radius: 50%;
  padding: 0.1px;
  /* bem pequeno para não "engordar" */
  width: 30px;
  height: 30px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  object-fit: contain;
  /* garante que o ícone não distorça */
}

#icon {

  border: white 2px solid;
  border-radius: 50%;
}